body {
    background-color: rgb(129, 87, 62);
}

#root {
    display: flex;
    flex-direction: column;
}

#logo {
    width: 150px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0
}

footer {
    display: flex;
    position: sticky;
    bottom: 0;
    justify-content: center;
}